<%  include ./partials/header %>

<h1>this is the show template</h1>
<h1> <%= foundCampground.name %> </h1>

<div>
    <img src="<%= foundCampground.image %>">
    <div> <%= foundCampground.description %> </div>
</div>




<%  include ./partials/footer %>